.errorMessage{
    color:#F56F6F;
    font-style: italic;
    font-weight: bold;
    margin: $m-size;
    padding: 0 $m-size;
}
    
    
.addOption{
    display: flex;
    padding:$m-size;
    
}

.addOptionInput{
    background: $widgetBlue;
    border: none;
    border-bottom: .3rem solid darken($color: $widgetBlue, $amount: 5%);
    flex-grow: 1;
    margin-right: $smallButton;
    color: white;
    padding: $smallButton;
}