.errorMessage{
    color:#F56F6F;
    font-style: italic;
    font-weight: bold;
    margin: $m-size;
    padding: 0 $m-size;
}
    
    
.addOption{
    display: flex;
    padding:$m-size;
    flex-direction: column;
    
}

.addOptionInput{
    background: $widgetBlue;
    border: none;
    border-bottom: .3rem solid darken($color: $widgetBlue, $amount: 5%);
    color: white;
    flex-grow: 1;
    // margin: 0 $smallButton;
    // padding: $smallButton;
}

@media (min-width: 40rem) {
   .addOption{
       flex-direction: row;
   }

   .addOptionInput{
       margin: 0 1.2rem 0 0;
   }
}
